<article class="crab-fact">
	<div class="factheader">
		<h3 class="fact-title"> {{title}} </h3>
	</div>
	<div class="fact-content">
	  <p class="fact-text"> {{text}} </p>
	  <p class="fact-author"> {{author}} </p>
	</div>
	<div class ="tags">
	  <p class = "tag-text"> {{#each tags}} {{this}} {{/each}}
	  </p>
	</div>
</article>