<div id="loss"class="results hide">
	<h2 class="message"> Tough Luck! </h2>
	<p class="message-text"> You got less than 7 questions right on the trivia. 
		Better luck next time!</p>
	
	<a class="homebutton" href="/">Home</a>
	
</div>
