<center>
	<h2>Choose a crab image to solve!</h2>
	<ul class="slide-selection">
		<li><img src="/images/slide/crab0.jpg" alt="Crab unavaliable"></li>
		<li><a class="play-button" href="/slide/0">Slide this Crab</a></li>
		<li><img src="/images/slide/crab1.jpg" alt="Crab unavaliable"></li>
		<li><a class="play-button" href="/slide/1">Slide this Crab</a></li>
		<li><img src="/images/slide/crab2.jpg" alt="Crab unavaliable"></li>
		<li><a class="play-button" href="/slide/2">Slide this Crab</a></li>
		<li><img src="/images/slide/cool_crab.jpg" alt="Crab unavaliable"></li>
		<li><a class="play-button" href="/slide/3">Slide this Crab</a></li>

	</ul>
</center>