<div id="trivia-container" class="trivia-container hide">
   <p id="trivia-question" class="trivia-question"></p>
   <div id="answers" class="answers">
   </div>
</div>
  <button id="next-button" type="button" class="next-button button instruct hide">NEXT</button>
<div class="question-footer">
   <!--This is to show which question they are on-->
   <p id="question-label" class="question-number hide"> 1 </p>
</div>