<div id="add-fact-container">
   <h1>Not so fast!</h1>
   <div id="crab-guard-container">
      <img id="crab-guard" src="/images/sneaky_crab.png" alt="crab guard">
   </div>
   <p>Before you can add a fact, you must win a game of trivia, solve a crabby slide puzzle, or complete a crab matching
      game!</p>
   <div id="trivia-slide-buttons">
      <a class="add-button" href="/trivia">Trivia</a>
      <a class="add-button" href="/slide">Crab Slide</a>
      <a class="add-button" href="/memory">Match Crabs</a>
   </div>
</div>